[user]
	name = Jacob Farkas
	email = farkas@apple.com
    signingKey = D05C1FB4
    #email = jacobf@rkas.net
    #signingkey = B9BD49AC
[color]
	status = auto
	branch = auto
	diff = auto
	interactive = auto
[core]
	excludesfile = /Volumes/Data/pharkas/.gitignore
	editor = vim
[clean]
    requireForce = false
[alias]
    pr = pull --rebase
    mf = merge --no-ff
    lol = log --pretty=oneline --abbrev-commit --graph --decorate
    lola = log --pretty=oneline --abbrev-commit --graph --decorate --all
    c = checkout
    co = checkout
    ca = commit -a --amend -C HEAD
    cam = commit -a -S -m
    cma = commit -a -S -m
    resign = commit --amend -S
    dm = diff master
	id = log -n1 --pretty=format:%h
    cherry-pick = cherry-pick -x
    s = status --untracked-files --short --branch
    st = status --untracked-files --short --branch
    standup = log --since yesterday --author Jacob
	pretend = commit --amend -a -S
[github]
	user = farktronix
	token = b8a9bc7c7d584923fa4b2c2231c3b4d
[rerere]
	enabled = 1
[push]
	default = current 
[commit]
    gpgsign
